<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

		<!-- This information should be generated in your application registration form (/app/control-panel). Copy-paste it here -->
		<add key="app:id" value="PUT YOUR APP ID HERE"/>
		<add key="app:secret" value="PUT YOUR APP SECRET HERE"/>

		<!-- Sandbox -->
		<add key="platform:syw-site-url" value="http://sandbox.shopyourway.com/"/>
		<add key="platform:api-url" value="http://sandboxplatform.shopyourway.com/"/>
		<add key="platform:secured-api-url" value="https://sandboxplatform.shopyourway.com/"/>
		
		<!-- Prod -->
		<!-- 
		<add key="platform:syw-site-url" value="http://www.shopyourway.com/"/>
		<add key="platform:syw-app-login-url" value="app/{0}/login"/>
		<add key="platform:api-url" value="http://platform.shopyourway.com/"/>
		<add key="platform:secured-api-url" value="https://platform.shopyourway.com/"/> 
		-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>