@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

Users see this canvas in the login page. Use this page to add aditional user data you want them to know before installing your app. 
Canvas is available via http://base-app-url/login