@{
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src=@Url.Content("~/static/js/refresh-page.js") ></script>
</head>
<body></body>
</html>